---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  date: string;
}

const subpages = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>("./*.md*", { eager: true }),
);
subpages.sort(
  (a, b) => new Date(a.frontmatter.date) - new Date(b.frontmatter.date),
);
---

<BaseLayout title="blog">
  <h1>Blog aka. the Tinker-Diary</h1>
  <p>I shall write stuff and you shall read</p>
  <ul>
    {
      subpages.map((page) => (
        <li>
          <a href={page.url}>{page.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
