---
import BaseLayout from "../../layouts/BaseLayout.astro";
const subpages = await Astro.glob("./*.md*");
subpages.sort(
  (a, b) => new Date(a.frontmatter.date) - new Date(b.frontmatter.date),
);
---

<BaseLayout title="blog">
  <h1>Blog aka. the Tinker-Diary</h1>
  <p>I shall write stuff and you shall read</p>
  <ul>
    {
      subpages.map((page) => (
        <li>
          <a href={page.url}>{page.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
