---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/profile-pictures/KevinJust_18-01-183-web.jpg";
import { CVEntry } from "../types/CVEntry";
import CVEntryElement from "../components/CVEntryElement.astro";

const cvEntries: CVEntry[] = [
  {
    company: "Wildmoser electronic",
    positions: ["Intern"],
    startDate: Date.parse("01 Sep 2014 00:00:00 +01:00"),
    endDate: Date.parse("01 Feb 2015 00:00:00 +01:00"),
    description:
      "My first real job in the industry. I learned designing PCBs and how to properly program microcontrollers. The project I worked on was a capacitive sensor board that had two applications. Rain recognition and finger detection. I was told that my prototypes were the basis for actual products that made its way into our customers products.",
      skills: [
          "C",
          "Circuit design",
          "PCB design",
          "Altium",
          "MPLAB",
          "Embedded Systems",
      ],
  },
  {
    company: "Zentrale It der Hochschule München",
    positions: ["Student Worker"],
    startDate: Date.parse("01 Jun 2015 00:00:00 +01:00"),
    endDate: Date.parse("01 Apr 2016 00:00:00 +01:00"),
    description:
      'Here I worked while I was writing my bachelor thesis. Next to learning how to set up firewalls, which was necessary for my bachelor thesis, I learned a lot about the basics of computer networks and how the network of our university was setup. Since most servers we had were Linux servers I learned most of my command line skills during my time here.',
    skills: ["pfSense", "Linux", "Network Security", "PHP"],
  },
  {
    company: "Magazino GmbH",
    positions: ["Working Student"],
    startDate: Date.parse("01 Mar 2016 00:00:00 +01:00"),
    endDate: Date.parse("01 Oct 2016 00:00:00 +01:00"),
    description:
      "My first Job in robotics. Which was very exciting to me. I just finished my bachelor in electrical engineering, which is why I started in the electrical engineering department. My main topic was reverse engineering a tool we used for flashing our electrical motors. The tool was only available on windows, but most engineers used Linux. A bit of CAN Signal analysis and Python wizardry created a library that was apparently further used long after I was gone (source: friends of mine that worked here after me).",
    skills: ["Python", "C++", "CAN", "I2C", "Embedded Systems"],
  },
  {
    company: "Roboy (these days Robody)",
    positions: ["Lab Course", "Junior Angel", "Master Thesis"],
    startDate: Date.parse("01 Oct 2017 00:00:00 +01:00"),
    endDate: Date.parse("01 Sep 2019 00:00:00 +01:00"),
    description:
      "This project accompanied me for the most of my time during my master studies. It started with working on locating sounds sources, which later allowed the robot to look into the direction of the speaker closest to it. In between I had my first leadership experience by guiding some other students towards building a UI that made it easier to assign and execute tasks on the robot. It ended with my master thesis in which I used a generative algorithm, in order to optimize the placement of our muskoskeletal actuators for a hypothetic exoskeleton arm. The exoskeleton never made it into a real life prototype, but writing the simulation taught me a lot about C++, Python and Robotics itself.",
    skills: [
      "FPGA",
      "Verilog",
      "Matlab",
      "Python",
      "ROS",
      "C++",
      "Raspberry Pi",
      "Python",
      "Gazebo",
      "OpenSim",
      "Audio Processing",
    ],
  },
  {
    company: "QAware GmbH",
    positions: [
      "Working Student Softwaredevelopment",
      "Software Engineer",
      "Senior Software Engineer",
    ],
    startDate: Date.parse("01 Mar 2017 00:00:00 +01:00"),
    endDate: Date.parse("01 Aug 2022 00:00:00 +01:00"),
    description:
      "Dynamic project data analysis. This with Elasticsearch, ChronixDB, SonarQube and self created tools, written in Python and Java.\n" +
      "\n" +
      "Security-Logmonitoring with an Elastic Stack. \n" +
      "-- SE --" +
      "- Backend-Development in Java, mainly doing Maven-Projects\n" +
      "- UI-Development with Vue in Typescript\n" +
      "- Team-Lead with PowerPoint, Google Sheets, Zoom, Jira, Confluence and my appearance\n" +
      "- Semantic Search on Patents using SBERT \n" +
      "-- Senior --" +
      "- Team-Lead tasks including being the leading software architect, the project lead and the leading business architect\n" +
      "- Employee account management in Go\n" +
      "- 3D pose detection with Mediapipe in Javascript\n" +
      "- 3D pose coordinate mapping onto a 3D avatar with Three.js in Javascript",
    skills: [
      "Java",
      "Springboot",
      "Maven",
      "Elasticsearch",
      "Go",
      "Python",
      "Vue",
      "Typescript",
      "Three.js",
      "Mediapipe",
      "Computer Vision",
      "Pose Estimation",
      "Team Lead",
      "Scrum",
      "Jira",
      "Confluence",
      "Feature Specification",
    ],
  },
  {
    company: "Agile Robots SE",
    positions: ["Software Engineer", "Senior Software Engineer"],
    startDate: Date.parse("01 Sep 2022 00:00:00 +01:00"),
    endDate: Date.now(),
    description:
      "- Team Lead substitute\n" +
      "- Feature Specification\n" +
      "- Hiring\n" +
      "- Robot state visualization\n" +
      "- Robot control user interface",
    skills: [
      "Vue",
      "Typescript",
      "Three.js",
      "Vite",
      "Vitest",
      "SCSS",
      "GraphQL",
      "gRPC",
      "Linux",
      "Robotics",
      "Team Lead",
      "Hiring",
      "Feature Specification",
      "Scrum",
      "Kanban",
    ],
  },
];

/*
Thoughts, so that I don't forget them
- date next to list point
- descriptions should be written like a story instead of what they currently are
- skills on the left highlight if they are in the list of "active" skills
- when scrolling through, the current entry is a bit bigger and in the front, the other are a bit smaller and transparent (see adams list animations)
- skills on the left have indicators that show how trained I am (three dots are probably enough)
*/
---

<BaseLayout title="CV">
  <h1>Curriculum Vitae</h1>
  <p>
    I am a software developer from Munich, Germany with a diverse field of
    expertise. I currently specialize in frontend development. My strong suit
    are applications that process and visualize complex data, preferably in 3D.
  </p>
  <div class="cv-wrapper">
    <div class="cv-sidebar">
      <Image src={profilePicture} alt="Profile picture" />
    </div>
    <ul>
      {cvEntries.map((entry) => <CVEntryElement entry={entry} />)}
    </ul>
  </div>
</BaseLayout>

<style>
  .cv-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-4);

    .cv-sidebar {
      display: flex;
      flex-direction: column;
      gap: var(--size-4);

      img {
        object-fit: cover;
        border-radius: 100vw;
        height: var(--size-128);
        width: auto;
        border: var(--size-4) solid var(--subtext1);
      }
    }
  }
</style>
