---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <h1>Hi I'm Kevin</h1>
  <p>This page is under construction. Still thanks for showing up.</p>
  <p>
    You can check out my definitiely irregular <a href="/blog">blog</a> while you
    are here.
  </p>
</BaseLayout>
