---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="portfolio">
    <h1>Portfolio</h1>
    <ul>
        <li><a href="https://drakkenheim-beyond.vercel.app/">drakkenheim beyond</a></li>
        <li><a href="https://spell-overview.vercel.app/">spell-overview</a></li>
    </ul>
</BaseLayout>