---
import { CVEntry } from "../types/CVEntry";
interface Props {
  entry: CVEntry;
}
const { entry } = Astro.props;

function formatDate(date: number) {
  return new Date(date).toLocaleDateString("en-US", {
    year: "numeric",
    month: "short",
  });
}
---

<tr>
  <td>
    {formatDate(entry.startDate)} - {formatDate(entry.endDate)}
  </td>
  <td>{entry.company}</td>
  <td>{entry.positions.join(", ")}</td>
  <td>{entry.description}</td>
  <td>{entry.skills.join(", ")}</td>
</tr>
