---
import ThemeSelection from "./ThemeSelection/ThemeSelection.astro";
import { Icon } from 'astro-icon/components';
---
<div>
    <nav>
        <a href="/">
            <Icon name="kevin_single_logo_large"/>
        </a>
        <ul>
            <li><a href="/cv">cv</a></li>
            <li><a href="/blog">blog</a></li>
        </ul>
    </nav>
    <ThemeSelection />
    <a href="/rss.xml"><Icon name="rss" /></a>
</div>


<style>
    div {
        display: flex;
        gap: var(--size-8);
        align-items: center;
        justify-content: space-between;


        nav {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            [data-icon] {
                font-size: var(--size-96);
                color: var(--text-color);
            }

            ul {
                list-style: none;
                display: flex;
                gap: var(--size-8)
            }
        }

        [data-icon="rss"] {
            font-size: var(--font-size-24);
            color: var(--text-color);
        }
    }
</style>