---
import ThemeSelection from "./ThemeSelection/ThemeSelection.astro";
---
<nav>
    <a href="/">home</a>
    <ul>
        <li><a href="/blog">blog</a></li>
    </ul>
    <ThemeSelection />
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        ul {
            list-style: none;
            display: flex;
            gap: var(--size-8)
        }
    }
</style>