---
import ThemeSelection from "./ThemeSelection/ThemeSelection.astro";
import { Icon } from "astro-icon/components";
---

<div>
  <nav>
    <a href="/" class="home-button">
      <Icon name="kevin_single_logo_large" />
      home
    </a>
    <ul>
      <li><a href="/portfolio">portfolio</a></li>
      <li><a href="/cv">cv</a></li>
      <li><a href="/blog">blog</a></li>
    </ul>
  </nav>
  <ThemeSelection />
  <a href="https://github.com/justDabuK"><Icon name="github" /></a>
  <a href="/rss.xml"><Icon name="rss" /></a>
</div>

<style>
  div {
    display: flex;
    gap: var(--size-8);
    align-items: center;
    justify-content: space-between;
    margin: var(--size-48) var(--size-32);

    nav {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      [data-icon] {
        font-size: var(--size-96);
        color: var(--text-color);
      }

      .home-button {
        display: flex;
        align-items: center;
        gap: var(--size-8);
      }

      ul {
        list-style: none;
        display: flex;
        gap: var(--size-8);
      }
    }

    [data-icon] {
      font-size: var(--font-size-30);
      color: var(--text-color);
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--teal);
        }
    }
  }
</style>
