<div>
    <label>Theme:</label>
    <select name="theme" id="theme-select">
        <option value="light dark">auto</option>
        <option value="light">light</option>
        <option value="dark">dark</option>
    </select>
</div>

<script src="./themeSelection.ts"></script>