---
import Header from "../components/Header.astro";
import '@fontsource/inclusive-sans';
import '@fontsource/pacifico';

interface Props {
	title: string;
}

const { title } = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/kevin_single_logo_favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* sizes */
		--size-1: 1px;
		--size-2: 2px;
		--size-4: 4px;
		--size-8: 8px;
		--size-12: 12px;
		--size-16: 16px;
		--size-24: 24px;
		--size-32: 32px;
		--size-48: 48px;
		--size-64: 64px;
		--size-96: 96px;
		--size-128: 128px;
		--size-192: 192px;
		--size-256: 256px;
		--size-384: 384px;
		--size-512: 512px;
		--size-640: 640px;
		--size-768: 768px;

		/* font sizes */
		--font-size-12: 12px;
		--font-size-14: 14px;
		--font-size-16: 16px;
		--font-size-18: 18px;
		--font-size-20: 20px;
		--font-size-24: 24px;
		--font-size-30: 30px;
		--font-size-36: 36px;
		--font-size-48: 48px;
		--font-size-60: 60px;
		--font-size-72: 72px;

		/* colors */
		--background-color: light-dark(oklch(95.78% 0.0058 264.53), oklch(24.29% 0.0304 283.91));
		--text-color: light-dark(oklch(43.55% 0.043 279.33), oklch(87.87% 0.0426 272.28));
		--teal: light-dark(oklch(60.23% 0.0981 201.1), oklch(85.85% 0.0792 182.75));
	}

	html {
		color-scheme: light dark;
		text-wrap: balance;
	}

	html,
	body {
		font-family: "Inclusive Sans", sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		background-color: var(--background-color);
		color: var(--text-color);
	}

	a {
		color: var(--teal);
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}

	h1 {
		font-family: "Pacifico", cursive;
		font-size: var(--font-size-48);
		font-weight: 400;
	}
</style>
